In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import re

**Reproduce the results**

Simply run this bash script.

```bash
for model in miaou reference-simple reference-experience reference-expert; do
    time python3 gpt.py evaluate $model v0 --csv
done
```

In [3]:
targets = ["albert-light-rag-v0", "albert-light-simple-v0"]

mean_dfs = []
std_dfs = []
for target in targets:
    df = pd.read_csv(f"../_data/x/{target}/res.csv")
    df = df.drop("id", axis=1)
    features = df.columns
    n_doc = df.shape[0]
    mean_dfs.append(df.mean(0))
    std_dfs.append(df.std(0))

print("Number of document: %d" % n_doc)

Number of document: 500

The results show the mean value in the generated text, for the evaluation set 

* **words**: number of words in the text
* **ttr**: lexical diversity (unique words / words)
* **artefacts**: match prompt artefacts (^---, ^<\w, ^###)
* **emails**: number of emails
* **urls**: number of url/website
* **phones**: numbers of phone number
* **dates**: number of date (at least a month given, optionnaly a day or a year)
* **hours**: number of hours
* **prices**: number of price or ratio

In [4]:
#
# Mean values
#
mean_df = pd.DataFrame(mean_dfs, columns=features, index=[re.sub(r"-test$", "", x) for x in targets])
mean_df.round(2)

,words,ttr,emails,urls,phones,dates,hours,prices_,number_artefacts,prompt_artefacts,repetition,3word_repetition
albert-light-rag-v0,120.35,0.61,0.0,0.06,0.04,0.04,0.01,0.12,0.86,0.0,0.05,0.0
albert-light-simple-v0,209.47,0.44,0.0,0.01,0.05,0.07,0.04,0.19,4.41,0.0,0.08,0.0

In [5]:
#
# Mean + std values
#
mean_df = pd.DataFrame(mean_dfs, columns=features, index=[re.sub(r"-test$", "", x) for x in targets])
std_df = pd.DataFrame(std_dfs, columns=features, index=[re.sub(r"-test$", "", x) for x in targets])

df = mean_df.round(2).astype(str) + " ± " + std_df.round(2).astype(str)
df

,words,ttr,emails,urls,phones,dates,hours,prices_,number_artefacts,prompt_artefacts,repetition,3word_repetition
albert-light-rag-v0,120.35 ± 94.14,0.61 ± 0.19,0.0 ± 0.0,0.06 ± 0.35,0.04 ± 0.32,0.04 ± 0.26,0.01 ± 0.18,0.12 ± 0.62,0.86 ± 1.91,0.0 ± 0.0,0.05 ± 0.21,0.0 ± 0.0
albert-light-simple-v0,209.47 ± 145.98,0.44 ± 0.17,0.0 ± 0.0,0.01 ± 0.19,0.05 ± 0.5,0.07 ± 0.71,0.04 ± 0.8,0.19 ± 1.49,4.41 ± 6.41,0.0 ± 0.0,0.08 ± 0.27,0.0 ± 0.06