In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import re

**Reproduce the results**

Simply run this bash script.

```bash
for model in miaou reference-simple reference-experience reference-expert; do
    time python3 gpt.py evaluate $model test --csv
done
```

In [7]:
targets = ["miaou-test", "reference-simple-test", "reference-experience-test",  "reference-expert-test"]

mean_dfs = []
std_dfs = []
for target in targets:
    df = pd.read_csv(f"../_data/x/{target}/res.csv")
    df = df.drop("id", axis=1)
    features = df.columns
    n_doc = df.shape[0]
    mean_dfs.append(df.mean(0))
    std_dfs.append(df.std(0))

print("Number of document: %d" % n_doc)

Number of document: 381

The results show the mean value in the generated text, for the evaluation set 

* **words**: number of words in the text
* **ttr**: lexical diversity (unique words / words)
* **artefacts**: match prompt artefacts (^---, ^<\w, ^###)
* **emails**: number of emails
* **urls**: number of url/website
* **phones**: numbers of phone number
* **dates**: number of date (at least a month given, optionnaly a day or a year)
* **hours**: number of hours
* **prices**: number of price or ratio

In [8]:
#
# Mean values
#
mean_df = pd.DataFrame(mean_dfs, columns=features, index=[re.sub(r"-test$", "", x) for x in targets])
mean_df.round(2)

,words,ttr,emails,urls,phones,dates,hours,prices_,number_artefacts,prompt_artefacts
miaou,110.82,0.63,0.01,0.70,0.32,0.05,0.82,0.02,0.77,0.0
reference-simple,117.36,0.66,0.02,1.10,0.46,0.04,1.07,0.01,0.87,0.0
reference-experience,170.01,0.62,0.08,1.87,0.41,0.03,0.86,0.00,1.94,0.0
reference-expert,307.36,0.49,0.10,3.15,0.37,0.13,0.76,0.02,1.84,0.0

In [9]:
#
# Mean + std values
#
mean_df = pd.DataFrame(mean_dfs, columns=features, index=[re.sub(r"-test$", "", x) for x in targets])
std_df = pd.DataFrame(std_dfs, columns=features, index=[re.sub(r"-test$", "", x) for x in targets])

df = mean_df.round(2).astype(str) + " ± " + std_df.round(2).astype(str)
df

,words,ttr,emails,urls,phones,dates,hours,prices_,number_artefacts,prompt_artefacts
miaou,110.82 ± 40.18,0.63 ± 0.11,0.01 ± 0.11,0.7 ± 1.35,0.32 ± 0.54,0.05 ± 0.25,0.82 ± 1.63,0.02 ± 0.16,0.77 ± 1.72,0.0 ± 0.0
reference-simple,117.36 ± 40.2,0.66 ± 0.09,0.02 ± 0.16,1.1 ± 1.49,0.46 ± 1.25,0.04 ± 0.24,1.07 ± 1.54,0.01 ± 0.11,0.87 ± 3.36,0.0 ± 0.0
reference-experience,170.01 ± 233.21,0.62 ± 0.12,0.08 ± 0.68,1.87 ± 7.59,0.41 ± 0.71,0.03 ± 0.19,0.86 ± 1.47,0.0 ± 0.05,1.94 ± 4.38,0.0 ± 0.0
reference-expert,307.36 ± 176.48,0.49 ± 0.1,0.1 ± 1.35,3.15 ± 1.94,0.37 ± 0.63,0.13 ± 0.56,0.76 ± 1.45,0.02 ± 0.17,1.84 ± 7.98,0.0 ± 0.0