In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import re

**Reproduce the results**

Simply run this bash script.

```bash
for model in miaou reference-simple reference-experience reference-expert; do
    time python3 gpt.py evaluate $model test --csv
done
```

In [38]:
targets = ["miaou-test", "reference-simple-test", "reference-experience-test",  "reference-expert-test"]

mean_dfs = []
std_dfs = []
for target in targets:
    df = pd.read_csv(f"../_data/x/{target}/res.csv")
    df = df.drop("id", axis=1)
    features = df.columns
    n_doc = df.shape[0]
    mean_dfs.append(df.mean(0))
    std_dfs.append(df.std(0))

print("Number of document: %d" % n_doc)

Number of document: 375

The results show the mean value in the generated text, for the evaluation set 

* **words**: number of words in the text
* **ttr**: lexical diversity (unique words / words)
* **artefacts**: match prompt artefacts (^---, ^<\w, ^###)
* **emails**: number of emails
* **urls**: number of url/website
* **phones**: numbers of phone number
* **dates**: number of date (at least a month given, optionnaly a day or a year)
* **hours**: number of hours
* **prices**: number of price or ratio

In [39]:
#
# Mean values
#
mean_df = pd.DataFrame(dfs, columns=features, index=[re.sub(r"-test$", "", x) for x in targets])
mean_df.round(2)

,words,ttr,artefacts,emails,urls,phones,dates,hours,prices_
miaou,106.66,0.64,0.0,0.02,0.74,0.33,0.03,0.84,0.00
reference-simple,120.38,0.65,0.0,0.04,1.14,0.43,0.04,1.02,0.02
reference-experience,144.66,0.64,0.0,0.16,1.64,0.45,0.02,0.85,0.01
reference-expert,557.60,0.37,0.0,0.03,3.97,0.15,0.72,0.12,1.18

In [42]:
#
# Mean + std values
#
mean_df = pd.DataFrame(mean_dfs, columns=features, index=[re.sub(r"-test$", "", x) for x in targets])
std_df = pd.DataFrame(std_dfs, columns=features, index=[re.sub(r"-test$", "", x) for x in targets])

df = mean_df.round(2).astype(str) + " ± " + std_df.round(2).astype(str)
df

,words,ttr,artefacts,emails,urls,phones,dates,hours,prices_
miaou,106.66 ± 35.54,0.64 ± 0.1,0.0 ± 0.0,0.02 ± 0.15,0.74 ± 1.43,0.33 ± 0.56,0.03 ± 0.2,0.84 ± 1.74,0.0 ± 0.0
reference-simple,120.38 ± 41.46,0.65 ± 0.08,0.0 ± 0.0,0.04 ± 0.2,1.14 ± 1.48,0.43 ± 0.63,0.04 ± 0.31,1.02 ± 1.59,0.02 ± 0.21
reference-experience,144.66 ± 186.19,0.64 ± 0.11,0.0 ± 0.0,0.16 ± 2.17,1.64 ± 5.12,0.45 ± 0.84,0.02 ± 0.17,0.85 ± 1.41,0.01 ± 0.15
reference-expert,568.43 ± 553.2,0.37 ± 0.22,0.0 ± 0.0,0.04 ± 0.25,3.19 ± 9.26,0.95 ± 6.34,0.94 ± 12.28,0.24 ± 0.89,0.54 ± 9.81